.centered-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.gap-2 > * + * {
  margin-top: 1.5rem;
}

p-floatLabel input {
  border: 1px solid lightblue;
  padding: 0.5rem;
  border-radius: 4px;
}

.table-container {
  width: 100%;
  max-width: 750px;
  margin-top: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

p-table {
  width: 100%;
}